.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #27282c;
  height: 72px;
}
.container nav {
  display: flex;
  align-items: center;
}
.container nav .logo {
  flex-grow: 1;
  max-width: 100%;
}
.container nav .logo svg {
  height: 100%;
}
.container nav ul {
  display: flex;
}
@media (max-width: 768px) {
  .container nav ul {
    display: none;
  }
}
.container nav ul li {
  line-height: 72px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}
.container nav ul li:hover {
  color: #fff;
}
.container nav ul li:hover .dropdown {
  transition: 2s;
  transition-delay: 2s;
  background: #ffff;
  display: flex;
}
.container nav ul li:hover .dropdown ul {
  display: block;
}
.container nav ul li:hover .dropdown ul p {
  font-weight: 700;
  color: black;
}
.container nav ul li:hover .dropdown ul li {
  color: black;
}
.container nav ul li .dropdown {
  transition: 2s;
  transition-delay: 2s;
  z-index: 9999;
  position: absolute;
  display: none;
  box-sizing: border-box;
  max-width: 1200px;
  left: 10%;
  right: 10%;
  max-height: 500px;
  overflow-y: hidden;
}
.container nav ul li .dropdown:nth-child(3) {
  left: 300px;
  right: auto;
}
.container nav ul li .dropdown .left {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 100%;
}
.container nav ul li .dropdown .left img {
  vertical-align: middle;
  width: 100%;
}
.container nav ul li .dropdown .right {
  padding: 24px 32px;
  width: 100%;
  max-height: 100%;
}
.container nav ul li .dropdown .right .title {
  font-size: 12px;
  font-weight: 700;
  color: #27282c;
  line-height: 16px;
}
.container nav ul li .dropdown .right .flex {
  display: flex;
  max-height: 250px;
}
.container nav ul li .dropdown .right .flex .program {
  padding-right: 32px;
}
.container nav ul li .dropdown .right .flex .program:nth-child(3) {
  border-right: 1px solid #b5b5b8;
}
.container nav ul li .dropdown .right .flex .program:nth-child(4) {
  border-right: 1px solid #b5b5b8;
  padding-left: 32px;
}
.container nav ul li .dropdown .right .flex .program:nth-child(5) {
  padding-left: 32px;
}
.container nav ul li .dropdown .right .flex .program ul .dropdownLi {
  margin: 5px 0;
  color: #707279;
  padding: 6px 12px 0 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.container nav ul li .dropdown .right .flex div .rider {
  padding-top: 23px;
}
.container nav ul li .dropdown .right .flex div .rider .dropdownLi {
  padding-top: 0;
}
.container nav .icons {
  display: flex;
  --wt-col-count: 0;
  max-width: 100%;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.container nav .icons svg {
  width: 100%;
  line-height: 72px;
  padding: 0 10px;
  fill: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}
.container nav .icons svg:hover {
  opacity: 1;
}

/*# sourceMappingURL=header.module.css.map */
